.select-list-container {
  $primary-blue: #003C71;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;

  .mat-form-field {
    width: 100%;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    color: $primary-blue;
  }

  ::ng-deep mat-chip {
    max-width: 100%;

    .mat-form-field-ripple {
      background-color: $primary-blue;
    }

    .truncate-ellipsis {
      padding-top: 1px;
      padding-bottom: 1px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .read-only {
    margin-top: 15px;
    .read-only-label{
        font-style: normal;
        font-weight: 700;
        text-align: left;
        color: #66666C;
        font-size: 12px;
    }
    .read-only-content{
        margin-top: 5px;
        color: #000000;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 125%;
    }
}

}

.mat-option, .select-list-options ::ng-deep .mat-option-text {
  display: flex;
  justify-content: space-between;
}
